In [1]:
import pandas as pd
import os
os.chdir(r'E:\umich\RealEstateBrokerage-main\result_tables')

# The idea

The key idea is to first convert the original name to the correct name and then store the correct name with the results, and then combine the two statistical summary to a single unit

generate another table with the name and label correspondence table

In [2]:
data = pd.read_stata('../ttest_with_result_mean_std.dta')
data.columns = data.iloc[0]
# Drop the first row
data = data.drop(0).reset_index(drop=True)

In [3]:
for i in range(1, 40):
    data.loc[i, 'SD'] = data.loc[i, 'Mean']
    data.loc[i, 'Mean'] = data.loc[i, 'Variable']
    data.loc[i, 'Variable'] = data.loc[i, 'by lj']
    data.loc[i, 'by lj'] = 0

    data.loc[40 + i, 'SD'] = data.loc[40 + i, 'Mean']
    data.loc[40 + i, 'Mean'] = data.loc[40 + i, 'Variable']
    data.loc[40 + i, 'Variable'] = data.loc[40 + i, 'by lj']
    data.loc[40 + i, 'by lj'] = 1

now we merge the table with the given label

In [4]:
df = pd.read_excel('../variable__label_correspondence.xlsx')

In [5]:
data['Variable'].unique()

array(['income', 'lead times', 'price conc~n', 'density', 'broker 410',
       'watching p~e', 'end price', 'non online~t', 'watched ti~s',
       'nego times', 'nego period', 'jiadian', 'kind', 'hotel',
       'shop mall', 'museum', 'old', 'ktv', 'mid', 'prim', 'west food',
       'super', 'sub', 'park', 'area', 'bedroom', 'toilet', 'house age',
       'floor level', 'green ratio', 'total buil~g', 'total floo~r',
       'living room', 'elevator r~o', 'kitchen', 'floor ratio',
       'total resi~t', 'pm25', 'pop', 'light'], dtype=object)

In [6]:
variable_map = {
    'income': 'income',
    'lead times': 'lead_times',
    'price conc~n': 'price_concession',
    'density': 'density',
    'broker 410': 'broker_410',
    'watching p~e': 'watching_people',
    'end price': 'end_price',
    'non online~t': 'non_online_effect',
    'watched ti~s': 'watched_times',
    'nego times': 'nego_times',
    'nego period': 'nego_period',
    'jiadian': 'jiadian',
    'kind': 'kind',
    'hotel': 'hotel',
    'shop mall': 'shop_mall',
    'museum': 'museum',
    'old': 'old',
    'ktv': 'ktv',
    'mid': 'mid',
    'prim': 'prim',
    'west food': 'west_food',
    'super': 'super',
    'sub': 'sub',
    'park': 'park',
    'area': 'area',
    'bedroom': 'bedroom',
    'toilet': 'toilet',
    'house age': 'house_age',
    'floor level': 'floor_level',
    'green ratio': 'green_ratio',
    'total buil~g': 'total_building',
    'total floo~r': 'total_floor_number',
    'living room': 'living_room',
    'elevator r~o': 'elevator_ratio',
    'kitchen': 'kitchen',
    'floor ratio': 'floor_ratio',
    'total resi~t': 'total_resident',
    'pm25': 'pm25',
    'pop': 'pop',
    'light': 'light'
}

# Replace the variable names in the 'Variable' column based on the mapping
for old_name, new_name in variable_map.items():
    data['Variable'].replace(old_name, new_name, inplace=True)

In [7]:
data = data.merge(df, left_on='Variable', right_on='name', how='left')

In [8]:
dataframe = data[['Variable', 'varlab', 'Mean', 'SD', 'by lj']]

In [9]:
dataframe.loc[:, 'by lj'] = dataframe['by lj'].astype(int)

In [10]:
dataframe.head(40)

,Variable,varlab,Mean,SD,by lj
0,income,The income lianjia in this given district/hous...,44.44,73.85,0
1,lead_times,The time it takes before a deal is made.,13.59,14.56,0
2,price_concession,price changes (ending price - starting price) ...,-0.0367,0.0318,0
3,density,percentage of lianjia to all brokerages,0,0,0
4,broker_410,"number of other brokerages within 410 meters, ...",5.362,6.871,0
5,watching_people,The number of people watching this listing.,17.61,29.11,0
6,end_price,The final agreed price.,260.5,254.9,0
7,non_online_effect,without online platformization influence,0.195,0.396,0
8,watched_times,The number of times a listing is watched.,1121,1827,0
9,nego_times,The number of times a negotiation was held.,4.769,7.686,0
10,nego_period,The period over which negotiations took place.,150.5,187.5,0
11,jiadian,Referring to electronic shops.,1.489,3.566,0
12,kind,Referring to proximity to kindergartens,8.665,6.229,0
13,hotel,Referring to proximity to hotels,3.211,5.287,0
14,shop_mall,Referring to shopping mall.,4.554,7.539,0
15,museum,Distance to the nearest museum.,0.617,1.533,0
16,old,Referring to old care systems.,0.894,1.628,0
17,ktv,Referring to KTV and some entertainment venues.,5.179,7.853,0
18,mid,Referring to middle schools.,2.059,2.329,0
19,prim,Referring to primary schools.,2.812,2.846,0
20,west_food,Referring to the availability of western food ...,3.880,7.709,0
21,super,Referring to proximity to supermarkets (measur...,3.155,3.374,0
22,sub,Referring to proximity to subway stations.,0.683,0.945,0
23,park,Referring to parks.,3.422,4.575,0
24,area,The area of a property.,90.82,48.57,0
25,bedroom,The number of bedrooms in a property.,2.338,0.816,0
26,toilet,The number of toilets in a property.,1.306,0.579,0
27,house_age,The age of the house.,18.08,11.68,0
28,floor_level,The level on which a particular room or apartm...,1.854,0.975,0
29,green_ratio,The ratio of the green space to the total plot...,0.309,0.237,0
30,total_building,The total number of buildings in an area.,26.88,56.66,0
31,total_floor_number,The number of floors in a building.,12.75,8.454,0
32,living_room,The number of living rooms in a property.,1.445,0.504,0
33,elevator_ratio,The ratio of elevators to the total number of ...,0.453,0.413,0
34,kitchen,The number of kitchens in a property.,0.983,0.150,0
35,floor_ratio,The ratio of the floor area to the total plot ...,4.942,329.1,0
36,total_resident,The total number of residents in an area.,995.8,1079,0
37,pm25,Air quality measure.,44.08,13.29,0
38,pop,Population density.,15506,16336,0
39,light,Night time lights.,32.62,13.59,0

In [11]:
df_abc_0 = dataframe[dataframe['by lj'] == 0]
df_abc_1 = dataframe[dataframe['by lj'] == 1][['varlab', 'Mean', 'SD']].reset_index(drop=True)

df_abc_1.rename(columns={'Mean': 'Mean with lianjia', 'SD': 'SD with lianjia'}, inplace=True)

result_df = pd.merge(df_abc_0, df_abc_1, on='varlab', how='left')
result_df.rename(columns={'Mean': 'Mean without lianjia', 'SD': 'SD without lianjia'}, inplace=True)

In [12]:
result_df.drop(columns = ['by lj'], inplace = True)

In [13]:
result_df

,Variable,varlab,Mean without lianjia,SD without lianjia,Mean with lianjia,SD with lianjia
0,income,The income lianjia in this given district/hous...,44.44,73.85,77.68,117.3
1,lead_times,The time it takes before a deal is made.,13.59,14.56,17.09,17.50
2,price_concession,price changes (ending price - starting price) ...,-0.0367,0.0318,-0.0351,0.0294
3,density,percentage of lianjia to all brokerages,0,0,0.206,0.166
4,broker_410,"number of other brokerages within 410 meters, ...",5.362,6.871,12.66,8.410
5,watching_people,The number of people watching this listing.,17.61,29.11,20.29,29.40
6,end_price,The final agreed price.,260.5,254.9,351.9,292.1
7,non_online_effect,without online platformization influence,0.195,0.396,0.233,0.423
8,watched_times,The number of times a listing is watched.,1121,1827,1233,1969
9,nego_times,The number of times a negotiation was held.,4.769,7.686,5.683,10.78
10,nego_period,The period over which negotiations took place.,150.5,187.5,166.6,239.1
11,jiadian,Referring to electronic shops.,1.489,3.566,1.942,4.365
12,kind,Referring to proximity to kindergartens,8.665,6.229,11.76,6.081
13,hotel,Referring to proximity to hotels,3.211,5.287,5.428,6.315
14,shop_mall,Referring to shopping mall.,4.554,7.539,6.698,8.489
15,museum,Distance to the nearest museum.,0.617,1.533,1.023,1.869
16,old,Referring to old care systems.,0.894,1.628,1.339,1.950
17,ktv,Referring to KTV and some entertainment venues.,5.179,7.853,7.305,7.759
18,mid,Referring to middle schools.,2.059,2.329,3.368,2.853
19,prim,Referring to primary schools.,2.812,2.846,4.343,3.205
20,west_food,Referring to the availability of western food ...,3.880,7.709,7.317,10.02
21,super,Referring to proximity to supermarkets (measur...,3.155,3.374,4.499,3.686
22,sub,Referring to proximity to subway stations.,0.683,0.945,1.111,1.099
23,park,Referring to parks.,3.422,4.575,4.569,3.944
24,area,The area of a property.,90.82,48.57,84.97,39.15
25,bedroom,The number of bedrooms in a property.,2.338,0.816,2.202,0.730
26,toilet,The number of toilets in a property.,1.306,0.579,1.246,0.455
27,house_age,The age of the house.,18.08,11.68,20.73,11.77
28,floor_level,The level on which a particular room or apartm...,1.854,0.975,1.933,0.931
29,green_ratio,The ratio of the green space to the total plot...,0.309,0.237,0.300,0.107
30,total_building,The total number of buildings in an area.,26.88,56.66,20.51,50.54
31,total_floor_number,The number of floors in a building.,12.75,8.454,12.97,8.485
32,living_room,The number of living rooms in a property.,1.445,0.504,1.341,0.492
33,elevator_ratio,The ratio of elevators to the total number of ...,0.453,0.413,0.408,0.279
34,kitchen,The number of kitchens in a property.,0.983,0.150,0.983,0.125
35,floor_ratio,The ratio of the floor area to the total plot ...,4.942,329.1,2.702,9.385
36,total_resident,The total number of residents in an area.,995.8,1079,901.8,956.5
37,pm25,Air quality measure.,44.08,13.29,45.74,13.89
38,pop,Population density.,15506,16336,24634,18866
39,light,Night time lights.,32.62,13.59,38.41,11.92

In [14]:
difference = pd.read_stata('../ttest_with_result.dta')

difference.columns = difference.iloc[1]
# Drop the first row
difference = difference.drop(0).reset_index(drop=True)
difference = difference.drop(0).reset_index(drop=True)

In [15]:
difference['Variables'].unique()

array(['income', 'lead times', 'price co~n', 'density', 'end price',
       'broker 410', 'watching~e', 'non onli~t', 'watched ~s',
       'nego times', 'nego per~d', 'jiadian', 'kind', 'hotel',
       'shop mall', 'museum', 'old', 'ktv', 'mid', 'prim', 'west food',
       'super', 'sub', 'park', 'area', 'bedroom', 'toilet', 'house age',
       'floor le~l', 'green ra~o', 'total bu~g', 'total fl~r',
       'living r~m', 'elevator~o', 'kitchen', 'floor ra~o', 'total re~t',
       'pm25', 'pop', 'light'], dtype=object)

In [16]:
variable_map = {
    'income': 'income',
    'lead times': 'lead_times',
    'price co~n': 'price_concession',
    'density': 'density',
    'broker 410': 'broker_410',
    'watching~e': 'watching_people',
    'end price': 'end_price',
    'non onli~t': 'non_online_effect',
    'watched ~s': 'watched_times',
    'nego times': 'nego_times',
    'nego per~d': 'nego_period',
    'jiadian': 'jiadian',
    'kind': 'kind',
    'hotel': 'hotel',
    'shop mall': 'shop_mall',
    'museum': 'museum',
    'old': 'old',
    'ktv': 'ktv',
    'mid': 'mid',
    'prim': 'prim',
    'west food': 'west_food',
    'super': 'super',
    'sub': 'sub',
    'park': 'park',
    'area': 'area',
    'bedroom': 'bedroom',
    'toilet': 'toilet',
    'house age': 'house_age',
    'floor le~l': 'floor_level',
    'green ra~o': 'green_ratio',
    'total bu~g': 'total_building',
    'total fl~r': 'total_floor_number',
    'living r~m': 'living_room',
    'elevator~o': 'elevator_ratio',
    'kitchen': 'kitchen',
    'floor ra~o': 'floor_ratio',
    'total re~t': 'total_resident',
    'pm25': 'pm25',
    'pop': 'pop',
    'light': 'light'
}
# Replace the variable names in the 'Variable' column based on the mapping
for old_name, new_name in variable_map.items():
    difference['Variables'].replace(old_name, new_name, inplace=True)

In [17]:
diff_data = difference[['Variables', 'MeanDiff', 't-Value']]
result_data = pd.merge(result_df, diff_data, left_on='Variable', right_on='Variables', how='left')

In [18]:
result_data['Variables'].isnull().sum()

0

In [19]:
result_data.rename(columns={'varlab': 'Label'}, inplace = True)
result_data.rename(columns={'Variable': 'Name'}, inplace = True)
result_data['Difference'] = result_data['MeanDiff'] + ' (' + result_data['t-Value'] + ')'
result_data = result_data[['Name', 'Mean without lianjia', 'SD without lianjia',	'Mean with lianjia',	'SD with lianjia', 'Difference']]

In [20]:
result_data.reset_index(drop = True, inplace = True)

In [22]:
result_data['Name'] = result_data['Name'].str.replace('_', '\\_', regex=False)

In [25]:
variable_map = {
    'income': 'income',
    'lead times': 'lead_times',
    'price co~n': 'price_concession',
    'density': 'density',
    'broker 410': 'broker_410',
    'watching~e': 'watching_people',
    'end price': 'end_price',
    'non onli~t': 'non_online_effect',
    'watched ~s': 'watched_times',
    'nego times': 'nego_times',
    'nego per~d': 'nego_period',
    'jiadian': 'jiadian',
    'kind': 'kind',
    'hotel': 'hotel',
    'shop mall': 'shop_mall',
    'museum': 'museum',
    'old': 'old',
    'ktv': 'ktv',
    'mid': 'mid',
    'prim': 'prim',
    'west food': 'west_food',
    'super': 'super',
    'sub': 'sub',
    'park': 'park',
    'area': 'area',
    'bedroom': 'bedroom',
    'toilet': 'toilet',
    'house age': 'house_age',
    'floor le~l': 'floor_level',
    'green ra~o': 'green_ratio',
    'total bu~g': 'total_building',
    'total fl~r': 'total_floor_number',
    'living r~m': 'living_room',
    'elevator~o': 'elevator_ratio',
    'kitchen': 'kitchen',
    'floor ra~o': 'floor_ratio',
    'total re~t': 'total_resident',
    'pm25': 'pm25',
    'pop': 'pop',
    'light': 'light'
}
# Replace the variable names in the 'Variable' column based on the mapping
for old_name, new_name in variable_map.items():
    difference['Variables'].replace(old_name, new_name, inplace=True)

## rank the results by the corresponding name

In [26]:
latex_table  = result_data.to_latex(index=False, escape=False)

In [29]:
# now we need to add some panel lines to make it compatible with the paper
lines = latex_table.split('\n')
new_line1 = '\\multicolumn{6}{l}{\\textbf{Panel 1: }Transaction property} \\\\'
new_line2 = '\\multicolumn{6}{l}{\\textbf{Panel 2: }brokerage property} \\\\'
new_line3 = '\\multicolumn{6}{l}{\\textbf{Panel 3: }hedonic information property} \\\\'
new_line4 = '\\multicolumn{6}{l}{\\textbf{Panel 4: }house property} \\\\'
new_line5 = '\\multicolumn{6}{l}{\\textbf{Panel 5: }regional property} \\\\'
# Find the index of the line containing "price_concession"
first_time = True
for i, line in enumerate(lines):
    if '\midrule' in line and first_time == True:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line1)
        first_time = False
    if 'price\_concession' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line2)
    if 'nego\_period' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line3)
    if 'park' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line4)
    if 'floor\_ratio' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line5)
# Join the lines back into a single string
modified_latex_table = '\n'.join(lines)

# print(modified_latex_table)

In [30]:
print(modified_latex_table)

\begin{tabular}{llllll}
\toprule
Name & Mean without lianjia & SD without lianjia & Mean with lianjia & SD with lianjia & Difference \\
\midrule
\multicolumn{6}{l}{\textbf{Panel 1: }Transaction property} \\
income & 44.44 & 73.85 & 77.68 & 117.3 & -33.24 (-76.638***) \\
lead\_times & 13.59 & 14.56 & 17.09 & 17.50 & -3.501 (-49.823***) \\
price\_concession & -0.0367 & 0.0318 & -0.0351 & 0.0294 & -0.00200 (-12.088***) \\
\multicolumn{6}{l}{\textbf{Panel 2: }brokerage property} \\
density & 0 & 0 & 0.206 & 0.166 & -0.206 (-384.429***) \\
broker\_410 & 5.362 & 6.871 & 12.66 & 8.410 & -7.300 (-217.614***) \\
watching\_people & 17.61 & 29.11 & 20.29 & 29.40 & -2.682 (-21.214***) \\
end\_price & 260.5 & 254.9 & 351.9 & 292.1 & -91.48 (-76.662***) \\
non\_online\_effect & 0.195 & 0.396 & 0.233 & 0.423 & -0.0380 (-21.384***) \\
watched\_times & 1121 & 1827 & 1233 & 1969 & -112.4 (-13.636***) \\
nego\_times & 4.769 & 7.686 & 5.683 & 10.78 & -0.914 (-22.178***) \\
nego\_period & 150.5 & 187.5 & 166.6 & 239.1 & -16.06 (-17.075***) \\
\multicolumn{6}{l}{\textbf{Panel 3: }hedonic information property} \\
jiadian & 1.489 & 3.566 & 1.942 & 4.365 & -0.453 (-26.004***) \\
kind & 8.665 & 6.229 & 11.76 & 6.081 & -3.097 (-116.630***) \\
hotel & 3.211 & 5.287 & 5.428 & 6.315 & -2.217 (-87.264***) \\
shop\_mall & 4.554 & 7.539 & 6.698 & 8.489 & -2.144 (-61.405***) \\
museum & 0.617 & 1.533 & 1.023 & 1.869 & -0.406 (-54.395***) \\
old & 0.894 & 1.628 & 1.339 & 1.950 & -0.446 (-56.870***) \\
ktv & 5.179 & 7.853 & 7.305 & 7.759 & -2.126 (-63.096***) \\
mid & 2.059 & 2.329 & 3.368 & 2.853 & -1.309 (-115.077***) \\
prim & 2.812 & 2.846 & 4.343 & 3.205 & -1.531 (-116.172***) \\
west\_food & 3.880 & 7.709 & 7.317 & 10.02 & -3.437 (-87.756***) \\
super & 3.155 & 3.374 & 4.499 & 3.686 & -1.344 (-87.586***) \\
sub & 0.683 & 0.945 & 1.111 & 1.099 & -0.429 (-96.038***) \\
park & 3.422 & 4.575 & 4.569 & 3.944 & -1.147 (-62.708***) \\
\multicolumn{6}{l}{\textbf{Panel 4: }house property} \\
area & 90.82 & 48.57 & 84.97 & 39.15 & 5.845 (31.050***) \\
bedroom & 2.338 & 0.816 & 2.202 & 0.730 & 0.136 (40.958***) \\
toilet & 1.306 & 0.579 & 1.246 & 0.455 & 0.0600 (26.915***) \\
house\_age & 18.08 & 11.68 & 20.73 & 11.77 & -2.651 (-52.316***) \\
floor\_level & 1.854 & 0.975 & 1.933 & 0.931 & -0.0790 (-19.324***) \\
green\_ratio & 0.309 & 0.237 & 0.300 & 0.107 & 0.00900 (12.288***) \\
total\_building & 26.88 & 56.66 & 20.51 & 50.54 & 6.371 (27.653***) \\
total\_floor\_number & 12.75 & 8.454 & 12.97 & 8.485 & -0.221 (-6.035***) \\
living\_room & 1.445 & 0.504 & 1.341 & 0.492 & 0.104 (48.345***) \\
elevator\_ratio & 0.453 & 0.413 & 0.408 & 0.279 & 0.0450 (30.475***) \\
kitchen & 0.983 & 0.150 & 0.983 & 0.125 & 0 (-0.459) \\
floor\_ratio & 4.942 & 329.1 & 2.702 & 9.385 & 2.240 (2.367**) \\
\multicolumn{6}{l}{\textbf{Panel 5: }regional property} \\
total\_resident & 995.8 & 1079 & 901.8 & 956.5 & 93.97 (21.484***) \\
pm25 & 44.08 & 13.29 & 45.74 & 13.89 & -1.664 (-28.266***) \\
pop & 15506 & 16336 & 24634 & 18866 & -9100 (-118.769***) \\
light & 32.62 & 13.59 & 38.41 & 11.92 & -5.782 (-105.485***) \\
\bottomrule
\end{tabular}

In [31]:
# File path
file_path = '../result_tables/summary_statistics_district.tex'

# Save the LaTeX table to a file
with open(file_path, 'w') as f:
    f.write(modified_latex_table)

file_path

'../result_tables/summary_statistics_district.tex'

## Work on the Individual Data

Note that the income should be dropped because it is for the neighborhood level data and we should not use this in the result

In [32]:
data = pd.read_stata('../ttest_with_result_mean_std_indi.dta')
data.columns = data.iloc[0]
# Drop the first row
data = data.drop(0).reset_index(drop=True)

In [33]:
for i in range(1, 40):
    data.loc[i, 'SD'] = data.loc[i, 'Mean']
    data.loc[i, 'Mean'] = data.loc[i, 'Variable']
    data.loc[i, 'Variable'] = data.loc[i, 'by lj']
    data.loc[i, 'by lj'] = 0

    data.loc[40 + i, 'SD'] = data.loc[40 + i, 'Mean']
    data.loc[40 + i, 'Mean'] = data.loc[40 + i, 'Variable']
    data.loc[40 + i, 'Variable'] = data.loc[40 + i, 'by lj']
    data.loc[40 + i, 'by lj'] = 1

now we merge the table with the given label

In [34]:
df = pd.read_excel('../variable__label_correspondence.xlsx')

In [35]:
data['Variable'].unique()

array(['income', 'lead times', 'price conc~n', 'density', 'broker 410',
       'watching p~e', 'end price', 'non online~t', 'watched ti~s',
       'nego times', 'nego period', 'jiadian', 'kind', 'hotel',
       'shop mall', 'museum', 'old', 'ktv', 'mid', 'prim', 'west food',
       'super', 'sub', 'park', 'area', 'bedroom', 'toilet', 'house age',
       'floor level', 'green ratio', 'total buil~g', 'total floo~r',
       'living room', 'elevator r~o', 'kitchen', 'floor ratio',
       'total resi~t', 'pm25', 'pop', 'light'], dtype=object)

In [36]:
variable_map = {
    'income': 'income',
    'lead times': 'lead_times',
    'price conc~n': 'price_concession',
    'density': 'density',
    'broker 410': 'broker_410',
    'watching p~e': 'watching_people',
    'end price': 'end_price',
    'non online~t': 'non_online_effect',
    'watched ti~s': 'watched_times',
    'nego times': 'nego_times',
    'nego period': 'nego_period',
    'jiadian': 'jiadian',
    'kind': 'kind',
    'hotel': 'hotel',
    'shop mall': 'shop_mall',
    'museum': 'museum',
    'old': 'old',
    'ktv': 'ktv',
    'mid': 'mid',
    'prim': 'prim',
    'west food': 'west_food',
    'super': 'super',
    'sub': 'sub',
    'park': 'park',
    'area': 'area',
    'bedroom': 'bedroom',
    'toilet': 'toilet',
    'house age': 'house_age',
    'floor level': 'floor_level',
    'green ratio': 'green_ratio',
    'total buil~g': 'total_building',
    'total floo~r': 'total_floor_number',
    'living room': 'living_room',
    'elevator r~o': 'elevator_ratio',
    'kitchen': 'kitchen',
    'floor ratio': 'floor_ratio',
    'total resi~t': 'total_resident',
    'pm25': 'pm25',
    'pop': 'pop',
    'light': 'light'
}

# Replace the variable names in the 'Variable' column based on the mapping
for old_name, new_name in variable_map.items():
    data['Variable'].replace(old_name, new_name, inplace=True)

In [37]:
data = data.merge(df, left_on='Variable', right_on='name', how='left')

In [38]:
dataframe = data[['Variable', 'varlab', 'Mean', 'SD', 'by lj']]

In [39]:
dataframe.loc[:, 'by lj'] = dataframe['by lj'].astype(int)

In [40]:
dataframe.head(40)

,Variable,varlab,Mean,SD,by lj
0,income,The income lianjia in this given district/hous...,0.493,0.656,0
1,lead_times,The time it takes before a deal is made.,16.83,26.13,0
2,price_concession,price changes (ending price - starting price) ...,-2.791,2.984,0
3,density,percentage of lianjia to all brokerages,0,0,0
4,broker_410,"number of other brokerages within 410 meters, ...",4.620,6.135,0
5,watching_people,The number of people watching this listing.,18.49,59.53,0
6,end_price,The final agreed price.,229.8,197.1,0
7,non_online_effect,without online platformization influence,0.232,0.422,0
8,watched_times,The number of times a listing is watched.,1128,2226,0
9,nego_times,The number of times a negotiation was held.,6.275,15.16,0
10,nego_period,The period over which negotiations took place.,139.0,197.5,0
11,jiadian,Referring to electronic shops.,0.299,1.492,0
12,kind,Referring to proximity to kindergartens,2.253,2.136,0
13,hotel,Referring to proximity to hotels,0.586,1.413,0
14,shop_mall,Referring to shopping mall.,0.896,2.355,0
15,museum,Distance to the nearest museum.,0.103,0.492,0
16,old,Referring to old care systems.,0.194,0.582,0
17,ktv,Referring to KTV and some entertainment venues.,1.021,2.439,0
18,mid,Referring to middle schools.,0.468,0.851,0
19,prim,Referring to primary schools.,0.666,0.996,0
20,west_food,Referring to the availability of western food ...,0.716,1.942,0
21,super,Referring to proximity to supermarkets (measur...,2.515,2.959,0
22,sub,Referring to proximity to subway stations.,0.143,0.365,0
23,park,Referring to parks.,0.671,1.319,0
24,area,The area of a property.,86.14,40.03,0
25,bedroom,The number of bedrooms in a property.,2.285,0.873,0
26,toilet,The number of toilets in a property.,1.261,0.554,0
27,house_age,The age of the house.,15.47,10.88,0
28,floor_level,The level on which a particular room or apartm...,1.851,0.977,0
29,green_ratio,The ratio of the green space to the total plot...,0.325,0.168,0
30,total_building,The total number of buildings in an area.,34.11,64.21,0
31,total_floor_number,The number of floors in a building.,15.81,9.744,0
32,living_room,The number of living rooms in a property.,1.436,0.574,0
33,elevator_ratio,The ratio of elevators to the total number of ...,0.430,0.376,0
34,kitchen,The number of kitchens in a property.,0.988,0.144,0
35,floor_ratio,The ratio of the floor area to the total plot ...,2.923,124.3,0
36,total_resident,The total number of residents in an area.,1899,1750,0
37,pm25,Air quality measure.,45.49,13.47,0
38,pop,Population density.,12369,14407,0
39,light,Night time lights.,31.41,12.98,0

In [41]:
df_abc_0 = dataframe[dataframe['by lj'] == 0]
df_abc_1 = dataframe[dataframe['by lj'] == 1][['varlab', 'Mean', 'SD']].reset_index(drop=True)

df_abc_1.rename(columns={'Mean': 'Mean with lianjia', 'SD': 'SD with lianjia'}, inplace=True)

result_df = pd.merge(df_abc_0, df_abc_1, on='varlab', how='left')
result_df.rename(columns={'Mean': 'Mean without lianjia', 'SD': 'SD without lianjia'}, inplace=True)

In [42]:
result_df.drop(columns = ['by lj'], inplace = True)

In [43]:
result_df

,Variable,varlab,Mean without lianjia,SD without lianjia,Mean with lianjia,SD with lianjia
0,income,The income lianjia in this given district/hous...,0.493,0.656,0.797,0.974
1,lead_times,The time it takes before a deal is made.,16.83,26.13,20.47,31.23
2,price_concession,price changes (ending price - starting price) ...,-2.791,2.984,-2.703,2.776
3,density,percentage of lianjia to all brokerages,0,0,0.235,0.182
4,broker_410,"number of other brokerages within 410 meters, ...",4.620,6.135,11.39,7.999
5,watching_people,The number of people watching this listing.,18.49,59.53,22.13,49.02
6,end_price,The final agreed price.,229.8,197.1,305.3,237.0
7,non_online_effect,without online platformization influence,0.232,0.422,0.238,0.426
8,watched_times,The number of times a listing is watched.,1128,2226,1235,2387
9,nego_times,The number of times a negotiation was held.,6.275,15.16,6.636,17.65
10,nego_period,The period over which negotiations took place.,139.0,197.5,141.8,225.4
11,jiadian,Referring to electronic shops.,0.299,1.492,0.379,1.683
12,kind,Referring to proximity to kindergartens,2.253,2.136,3.347,2.421
13,hotel,Referring to proximity to hotels,0.586,1.413,1.022,1.762
14,shop_mall,Referring to shopping mall.,0.896,2.355,1.463,3.000
15,museum,Distance to the nearest museum.,0.103,0.492,0.146,0.526
16,old,Referring to old care systems.,0.194,0.582,0.273,0.690
17,ktv,Referring to KTV and some entertainment venues.,1.021,2.439,1.611,2.726
18,mid,Referring to middle schools.,0.468,0.851,0.753,1.079
19,prim,Referring to primary schools.,0.666,0.996,1.034,1.146
20,west_food,Referring to the availability of western food ...,0.716,1.942,1.423,2.640
21,super,Referring to proximity to supermarkets (measur...,2.515,2.959,3.748,3.356
22,sub,Referring to proximity to subway stations.,0.143,0.365,0.247,0.461
23,park,Referring to parks.,0.671,1.319,0.916,1.292
24,area,The area of a property.,86.14,40.03,81.62,36.37
25,bedroom,The number of bedrooms in a property.,2.285,0.873,2.145,0.854
26,toilet,The number of toilets in a property.,1.261,0.554,1.222,0.481
27,house_age,The age of the house.,15.47,10.88,18.36,11.45
28,floor_level,The level on which a particular room or apartm...,1.851,0.977,1.890,0.959
29,green_ratio,The ratio of the green space to the total plot...,0.325,0.168,0.319,0.0942
30,total_building,The total number of buildings in an area.,34.11,64.21,30.05,67.64
31,total_floor_number,The number of floors in a building.,15.81,9.744,15.47,9.637
32,living_room,The number of living rooms in a property.,1.436,0.574,1.319,0.575
33,elevator_ratio,The ratio of elevators to the total number of ...,0.430,0.376,0.390,0.250
34,kitchen,The number of kitchens in a property.,0.988,0.144,0.988,0.136
35,floor_ratio,The ratio of the floor area to the total plot ...,2.923,124.3,2.738,6.971
36,total_resident,The total number of residents in an area.,1899,1750,1903,1666
37,pm25,Air quality measure.,45.49,13.47,48.01,14.35
38,pop,Population density.,12369,14407,19596,17151
39,light,Night time lights.,31.41,12.98,36.56,11.92

In [44]:
difference = pd.read_stata('../ttest_with_result_indi.dta')

difference.columns = difference.iloc[1]
# Drop the first row
difference = difference.drop(0).reset_index(drop=True)
difference = difference.drop(0).reset_index(drop=True)

In [45]:
difference['Variables'].unique()

array(['income', 'lead times', 'price co~n', 'density', 'end price',
       'broker 410', 'watching~e', 'non onli~t', 'watched ~s',
       'nego times', 'nego per~d', 'jiadian', 'kind', 'hotel',
       'shop mall', 'museum', 'old', 'ktv', 'mid', 'prim', 'west food',
       'super', 'sub', 'park', 'area', 'bedroom', 'toilet', 'house age',
       'floor le~l', 'green ra~o', 'total bu~g', 'total fl~r',
       'living r~m', 'elevator~o', 'kitchen', 'floor ra~o', 'total re~t',
       'pm25', 'pop', 'light'], dtype=object)

In [46]:
variable_map = {
    'income': 'income',
    'lead times': 'lead_times',
    'price co~n': 'price_concession',
    'density': 'density',
    'broker 410': 'broker_410',
    'watching~e': 'watching_people',
    'end price': 'end_price',
    'non onli~t': 'non_online_effect',
    'watched ~s': 'watched_times',
    'nego times': 'nego_times',
    'nego per~d': 'nego_period',
    'jiadian': 'jiadian',
    'kind': 'kind',
    'hotel': 'hotel',
    'shop mall': 'shop_mall',
    'museum': 'museum',
    'old': 'old',
    'ktv': 'ktv',
    'mid': 'mid',
    'prim': 'prim',
    'west food': 'west_food',
    'super': 'super',
    'sub': 'sub',
    'park': 'park',
    'area': 'area',
    'bedroom': 'bedroom',
    'toilet': 'toilet',
    'house age': 'house_age',
    'floor le~l': 'floor_level',
    'green ra~o': 'green_ratio',
    'total bu~g': 'total_building',
    'total fl~r': 'total_floor_number',
    'living r~m': 'living_room',
    'elevator~o': 'elevator_ratio',
    'kitchen': 'kitchen',
    'floor ra~o': 'floor_ratio',
    'total re~t': 'total_resident',
    'pm25': 'pm25',
    'pop': 'pop',
    'light': 'light'
}
# Replace the variable names in the 'Variable' column based on the mapping
for old_name, new_name in variable_map.items():
    difference['Variables'].replace(old_name, new_name, inplace=True)

In [47]:
diff_data = difference[['Variables', 'MeanDiff', 't-Value']]
result_data = pd.merge(result_df, diff_data, left_on='Variable', right_on='Variables', how='left')

In [48]:
result_data['Variables'].isnull().sum()

0

In [49]:
result_data.rename(columns={'varlab': 'Label'}, inplace = True)
result_data.rename(columns={'Variable': 'Name'}, inplace = True)
result_data['Difference'] = result_data['MeanDiff'] + ' (' + result_data['t-Value'] + ')'
result_data = result_data[['Name', 'Mean without lianjia', 'SD without lianjia',	'Mean with lianjia',	'SD with lianjia', 'Difference']]

In [50]:
result_data['Name'] = result_data['Name'].str.replace('_', '\\_', regex=False)

In [51]:
result_data.reset_index(drop = True, inplace = True)

## rank the results by the corresponding name

In [52]:
latex_table  = result_data.to_latex(index=False, escape=False)

In [54]:
# now we need to add some panel lines to make it compatible with the paper
lines = latex_table.split('\n')
new_line1 = '\\multicolumn{6}{l}{\\textbf{Panel 1: }Transaction property} \\\\'
new_line2 = '\\multicolumn{6}{l}{\\textbf{Panel 2: }brokerage property} \\\\'
new_line3 = '\\multicolumn{6}{l}{\\textbf{Panel 3: }hedonic information property} \\\\'
new_line4 = '\\multicolumn{6}{l}{\\textbf{Panel 4: }house property} \\\\'
new_line5 = '\\multicolumn{6}{l}{\\textbf{Panel 5: }regional property} \\\\'
# Find the index of the line containing "price_concession"
first_time = True
for i, line in enumerate(lines):
    if '\midrule' in line and first_time == True:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line1)
        first_time = False
    if 'price\_concession' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line2)
    if 'nego\_period' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line3)
    if 'park' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line4)
    if 'floor\_ratio' in line:
        # Insert the new line after the found line
        lines.insert(i + 1, new_line5)
# Join the lines back into a single string
modified_latex_table = '\n'.join(lines)

# print(modified_latex_table)

In [55]:
print(modified_latex_table)

\begin{tabular}{llllll}
\toprule
Name & Mean without lianjia & SD without lianjia & Mean with lianjia & SD with lianjia & Difference \\
\midrule
\multicolumn{6}{l}{\textbf{Panel 1: }Transaction property} \\
income & 0.493 & 0.656 & 0.797 & 0.974 & -0.304 (-226.763***) \\
lead\_times & 16.83 & 26.13 & 20.47 & 31.23 & -3.648 (-80.341***) \\
price\_concession & -2.791 & 2.984 & -2.703 & 2.776 & -0.0890 (-19.908***) \\
\multicolumn{6}{l}{\textbf{Panel 2: }brokerage property} \\
density & 0 & 0 & 0.235 & 0.182 & -0.235 (-1.1e+03***) \\
broker\_410 & 4.620 & 6.135 & 11.39 & 7.999 & -6.765 (-596.183***) \\
watching\_people & 18.49 & 59.53 & 22.13 & 49.02 & -3.647 (-44.332***) \\
end\_price & 229.8 & 197.1 & 305.3 & 237.0 & -75.50 (-219.538***) \\
non\_online\_effect & 0.232 & 0.422 & 0.238 & 0.426 & -0.00600 (-9.241***) \\
watched\_times & 1128 & 2226 & 1235 & 2387 & -106.8 (-29.718***) \\
nego\_times & 6.275 & 15.16 & 6.636 & 17.65 & -0.361 (-13.948***) \\
nego\_period & 139.0 & 197.5 & 141.8 & 225.4 & -2.840 (-8.544***) \\
\multicolumn{6}{l}{\textbf{Panel 3: }hedonic information property} \\
jiadian & 0.299 & 1.492 & 0.379 & 1.683 & -0.0800 (-32.152***) \\
kind & 2.253 & 2.136 & 3.347 & 2.421 & -1.094 (-305.752***) \\
hotel & 0.586 & 1.413 & 1.022 & 1.762 & -0.436 (-172.389***) \\
shop\_mall & 0.896 & 2.355 & 1.463 & 3.000 & -0.567 (-132.449***) \\
museum & 0.103 & 0.492 & 0.146 & 0.526 & -0.0430 (-53.977***) \\
old & 0.194 & 0.582 & 0.273 & 0.690 & -0.0790 (-78.187***) \\
ktv & 1.021 & 2.439 & 1.611 & 2.726 & -0.590 (-145.734***) \\
mid & 0.468 & 0.851 & 0.753 & 1.079 & -0.285 (-184.969***) \\
prim & 0.666 & 0.996 & 1.034 & 1.146 & -0.368 (-218.091***) \\
west\_food & 0.716 & 1.942 & 1.423 & 2.640 & -0.707 (-190.757***) \\
super & 2.515 & 2.959 & 3.748 & 3.356 & -1.233 (-248.593***) \\
sub & 0.143 & 0.365 & 0.247 & 0.461 & -0.104 (-158.165***) \\
park & 0.671 & 1.319 & 0.916 & 1.292 & -0.245 (-121.784***) \\
\multicolumn{6}{l}{\textbf{Panel 4: }house property} \\
area & 86.14 & 40.03 & 81.62 & 36.37 & 4.518 (77.381***) \\
bedroom & 2.285 & 0.873 & 2.145 & 0.854 & 0.140 (105.281***) \\
toilet & 1.261 & 0.554 & 1.222 & 0.481 & 0.0400 (50.222***) \\
house\_age & 15.47 & 10.88 & 18.36 & 11.45 & -2.888 (-166.420***) \\
floor\_level & 1.851 & 0.977 & 1.890 & 0.959 & -0.0390 (-25.910***) \\
green\_ratio & 0.325 & 0.168 & 0.319 & 0.0942 & 0.00600 (31.022***) \\
total\_building & 34.11 & 64.21 & 30.05 & 67.64 & 4.061 (39.620***) \\
total\_floor\_number & 15.81 & 9.744 & 15.47 & 9.637 & 0.348 (23.296***) \\
living\_room & 1.436 & 0.574 & 1.319 & 0.575 & 0.117 (131.401***) \\
elevator\_ratio & 0.430 & 0.376 & 0.390 & 0.250 & 0.0400 (84.381***) \\
kitchen & 0.988 & 0.144 & 0.988 & 0.136 & 0 (0.385) \\
floor\_ratio & 2.923 & 124.3 & 2.738 & 6.971 & 0.184 (1.555) \\
\multicolumn{6}{l}{\textbf{Panel 5: }regional property} \\
total\_resident & 1899 & 1750 & 1903 & 1666 & -4.785 (-1.824*) \\
pm25 & 45.49 & 13.47 & 48.01 & 14.35 & -2.519 (-116.310***) \\
pop & 12369 & 14407 & 19596 & 17151 & -7200 (-289.518***) \\
light & 31.41 & 12.98 & 36.56 & 11.92 & -5.155 (-270.639***) \\
\bottomrule
\end{tabular}

In [56]:
# File path
file_path = '../result_tables/summary_statistics_indi.tex'

# Save the LaTeX table to a file
with open(file_path, 'w') as f:
    f.write(modified_latex_table)

file_path

'../result_tables/summary_statistics_indi.tex'

## result

In [57]:
result_df.rename(columns={'varlab': 'Label'}, inplace = True)
result_df.rename(columns={'Variable': 'Name'}, inplace = True)

In [58]:
result_df = result_df[['Name', "Label"]]
dimension = ['$10^5 \\times$ \\textyen', 'counts', '\%', '\% / 100', 'counts', 'counts', '\\textyen', 'bool indicator', 'counts', 'counts', 'days', 
             'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', 'counts', '$m^2$', 'counts', 'counts', 'years', 'categories', '\% / 100', 'counts', 'counts', 'counts', '\% / 100', 'counts', 'fraction', 'counts', 'mass/volume', 'people/$km^2$', 'lux']
result_df['Dimension'] = dimension

C:\Users\Xuyuan\AppData\Local\Temp\ipykernel_18620\1737354646.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['Dimension'] = dimension

In [61]:
result_df['Name'] = result_df['Name'].str.replace('_', '\\_', regex=False)

C:\Users\Xuyuan\AppData\Local\Temp\ipykernel_18620\1218736595.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['Name'] = result_df['Name'].str.replace('_', '\\_', regex=False)

In [62]:
latex_table  = result_df.to_latex(index=False, escape=False)

In [63]:
print(latex_table)

\begin{tabular}{lll}
\toprule
Name & Label & Dimension \\
\midrule
income & The income lianjia in this given district/housing. & $10^5 \times$ \textyen \\
lead\_times & The time it takes before a deal is made. & counts \\
price\_concession & price changes (ending price - starting price) / starting price & \% \\
density & percentage of lianjia to all brokerages & \% / 100 \\
broker\_410 & number of other brokerages within 410 meters, which is the cutoff of RD & counts \\
watching\_people & The number of people watching this listing. & counts \\
end\_price & The final agreed price. & \textyen \\
non\_online\_effect & without online platformization influence & bool indicator \\
watched\_times & The number of times a listing is watched. & counts \\
nego\_times & The number of times a negotiation was held. & counts \\
nego\_period & The period over which negotiations took place. & days \\
jiadian & Referring to electronic shops. & counts \\
kind & Referring to proximity to kindergartens & counts \\
hotel & Referring to proximity to hotels & counts \\
shop\_mall & Referring to shopping mall. & counts \\
museum & Distance to the nearest museum. & counts \\
old & Referring to old care systems. & counts \\
ktv & Referring to KTV and some entertainment venues. & counts \\
mid & Referring to middle schools. & counts \\
prim & Referring to primary schools. & counts \\
west\_food & Referring to the availability of western food nearby. & counts \\
super & Referring to proximity to supermarkets (measured by number within given distance & counts \\
sub & Referring to proximity to subway stations. & counts \\
park & Referring to parks. & counts \\
area & The area of a property. & m^2 \\
bedroom & The number of bedrooms in a property. & counts \\
toilet & The number of toilets in a property. & counts \\
house\_age & The age of the house. & years \\
floor\_level & The level on which a particular room or apartment is, within a building. & categories \\
green\_ratio & The ratio of the green space to the total plot area. & \% / 100 \\
total\_building & The total number of buildings in an area. & counts \\
total\_floor\_number & The number of floors in a building. & counts \\
living\_room & The number of living rooms in a property. & counts \\
elevator\_ratio & The ratio of elevators to the total number of floors. & \% / 100 \\
kitchen & The number of kitchens in a property. & counts \\
floor\_ratio & The ratio of the floor area to the total plot area. & fraction \\
total\_resident & The total number of residents in an area. & counts \\
pm25 & Air quality measure. & mass/volume \\
pop & Population density. & people/km^2 \\
light & Night time lights. & lux \\
\bottomrule
\end{tabular}

In [64]:
# File path
file_path = '../result_tables/code_book_table.tex'

# Save the LaTeX table to a file
with open(file_path, 'w') as f:
    f.write(latex_table)

file_path

'../result_tables/code_book_table.tex'